
.indexpage_title {
  height: 300px;
  text-align: center;
  color: rgb(37, 46, 155);
  background-image: url("/storage/Protein.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  &__text {
    padding-top: 60px;
    h1 {
      font-size: 100px;
      font-weight: 900;
    }
    p {
      color: rgb(37, 46, 155);
      font-size: 30px;
      font-weight: 500;
    }
  }
}

.serch {
  margin-top: 20px;
  &__box {
    width: 70%;
    margin: 0 auto;
    .form-serch {
      width: 100%;
      margin: 0 auto;
      margin-left: 10px;
      &__box {
        width: 70%;
        margin-right: 5px;
      }
    }
  }
}
.product_box {
  display: flex;
  .product_box_part {
    width: 30%;
  
  }
}
