.showpage,.detailpage {
  .product_detail {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    &__text {
      padding: 0 10px;
    }
  }
  .request_box {
    margin: 10px;
    margin: 0 auto;
    width: 50%;
    font-size: 50px;
    form {
      margin: 0 auto;
    }
    &__btn {
      height: 60px;
      text-align: center;
      width: 100%;
      color: white;
      font-weight: bold;
    }
  }
  .review_list {
    padding: 0 20px;
    width: 70%;
    margin: 0 auto;
    &__box {
      margin: 15px 0;
      .comment_box {
        background-color: rgb(240, 247, 255);
        width: 100%;
        margin: 0 10px;
        padding: 0 10px;
      }
    }
  }
}